#image_0{background-image:url('Result.png'); background-position:0px -0px; width:1163px; height:1164px; }
#image_1{background-image:url('Result.png'); background-position:1163px -0px; width:1091px; height:1078px; }
#image_2{background-image:url('Result.png'); background-position:2254px -0px; width:624px; height:612px; }
#image_3{background-image:url('Result.png'); background-position:2878px -0px; width:612px; height:612px; }
#image_4{background-image:url('Result.png'); background-position:3490px -0px; width:564px; height:568px; }
#image_5{background-image:url('Result.png'); background-position:4054px -0px; width:644px; height:388px; }
#image_6{background-image:url('Result.png'); background-position:4698px -0px; width:662px; height:377px; }
#image_7{background-image:url('Result.png'); background-position:5360px -0px; width:470px; height:531px; }
#image_8{background-image:url('Result.png'); background-position:5830px -0px; width:425px; height:587px; }
#image_9{background-image:url('Result.png'); background-position:6255px -0px; width:430px; height:580px; }
#image_10{background-image:url('Result.png'); background-position:6685px -0px; width:467px; height:534px; }
#image_11{background-image:url('Result.png'); background-position:7152px -0px; width:475px; height:525px; }
#image_12{background-image:url('Result.png'); background-position:7627px -0px; width:405px; height:403px; }
#image_13{background-image:url('Result.png'); background-position:8032px -0px; width:373px; height:377px; }
